<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css">
  <link type="text/css" rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multi User Blog</title>
</head>

<body>
  <div class="container">
    <div class="heading">
      <a href="/" class="main-title">
        Multi User Blog
      </a>

      <div class="login-area">
        {% if user %}
          {{user.name}} (<a class="login-link" href="/logout">logout</a>)

        {% else %}
          <a class="login-link" href="/login">login</a>
          |
          <a class="login-link" href="/signup">signup</a>

        {% endif %}
      </div>
      <div class="newpost-btn">
        <input id="signIn" class="sign-button" action="sign" type="submit" value="Sign In">
        <label for="signIn"> <a href="/blog/newpost"><i class="fa fa-plus" aria-hidden="true"></i><span class="newpost-text">New Post</span></a></label>
      </div>
    </div>

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
  </div>

</body>

</html>
