{% extends "base.html" %}

{% block content %}
  <h2>Edit Post</h2>
    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <button id="edit-post" class="sign-button" type="submit"></button>
      <label for="edit-post">Save changes</label>
      <a class="cancel-edit" href="/blog/{{p.key().id()}}">Cancel</a>
    </form>
{% endblock %}
