
{% extends "log.html" %}

{% block content %}
    <div class="links">
      <a class="signin-link checked" href="#">SIGN IN</a>
      <a class="signup-link " href="/signup">SIGN UP</a>
    </div>

    <form class="form" method="post">
      <div class="input-text">
        <input class="input-username" type="text" placeholder="Username" name="username" value="{{username}}">
        <input class="input-password" type="password" placeholder="Password" name="password" value="">
      </div>

      <div class="error">{{error}}</div>
      <div class="buttons">
        <input id="signIn" class="sign-button" action="sign" type="submit" value="Sign In">
        <label class="push" for="signIn">Sign In</label>
      </div>
    </form>
{% endblock %}
