{% extends "base.html" %}

{% block content %}
  <div class="error">{{error}}</div>
  {{post.render() | safe}}
  <form method="post">

    <div class="post-icons">

      <button class="comment-icon" id="like-btn" type="submit" name="action" value="like"></button>
      <label class="like-btn" for="like-btn"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></label>


      <button class="comment-icon" id="unlike-btn" type="submit" name="action" value="unlike"></button>
      <label class="unlike-btn" for="unlike-btn"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></label>


      <button class="comment-icon" id="edit-btn" type="submit" name="action" value="edit"></button>
      <label class="edit-btn" for="edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></label>


      <button id="delete-btn" class="comment-icon" type="submit" name="action" value="delete"></button>
      <label class="delete-btn" for="delete-btn"><i class="fa fa-trash-o" aria-hidden="true"></i></label>

      <div class="like-nmb">{{post.like}}</div>

    </div>

  </form>

  {% if post.comment_post %}
    <div class="comment-text">Comments</div>
    <div class="post-comments">
      {% for c in post.comment_post %}
        <form method="post">
          <div class="comment">{{c.comment_type}}

            <div class="post-icons">
              <a href="/blog/{{post.key().id()}}/{{c.key().id()}}">
                <i class="edit-btn fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <a href="/blog/delete/{{post.key().id()}}/{{c.key().id()}}">
                <i class="delete-btn fa fa-trash-o" aria-hidden="true"></i>
              </a>
            </div>
          </div>

        </form>
        <hr>
      {% endfor %}
    </div>
  {% endif %}

  <div class="add-comment">
    <form method="post">
      <label>Write new comment</label>
      <textarea name="content">{{content}}</textarea>
      <div class="submit-post">
        <button id="post-comment" class="sign-button" name="action" type="submit" value="comment"></button>
        <label for="post-comment">Submit</label>
      </div>
    </form>
  </div>
{% endblock %}
