{% extends "log.html" %}

{% block content %}
      <div class="links">
        <a class="signin-link" href="/login">SIGN IN</a>
        <a class="signup-link checked" href="/signup">SIGN UP</a>
      </div>

      <form class="form" method="post">

        <div class="input-text logout-input">

          <input class="input-username logout-form" type="text" placeholder="Username" name="username" value="{{username}}">


          <input class="input-password" type="password" placeholder="Password" name="password" value="">


          <input type="password" class="input-password" placeholder="Verify Password" name="verify" value="">


          <input type="text" class="input-username logout-form" name="email" value="{{email}}" placeholder="Email (optional)">

          <div class="error">{{error_username}} {{error_password}} {{error_verify}} {{error_email}}</div>
        </div>

        <div class="buttons logout-button">
          <input id="signIn" class="sign-button" action="sign" type="submit" value="Sign Up">
          <label class="push" for="signIn">Sign Up</label>
        </div>
      </form>
{% endblock %}
